<p-card [style]="{ width: '100%' }" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
    <img alt="Card" [src]="song.artist.picture" />
  </ng-template>
  <div>
    <p>Artist: {{ song.artist.name }}</p>
    <p>Name: {{ song.title }}</p>
    <p>Album: {{ song.album.title }}</p>
    <!-- <p>Release Year:{{song.}}</p> -->
    <p>Play time: {{ time() }}</p>
    <p *ngIf="song.position">Track number: {{ song.position }}</p>
  </div>
</p-card>
