<div class="grid">
  <div class="col-12">
    <h2>Your Favorites</h2>
  </div>
  <div class="col-12" *ngFor="let song of songs">
    <p-card>
      <div class="grid">
        <div class="col-4">
          <img [src]="song.artist.picture" alt="artist picture" />
        </div>
        <div class="col-8">
          <h3>{{ song.title }}</h3>
          <p>{{ song.album.title }}</p>
        </div>
      </div>
    </p-card>
  </div>
</div>
