.p-inputgroup input{
    background-color: transparent;
    border-color: rgb(240, 240, 240);
    border-style: solid;
    border-width: 1px;
    padding: 0.5rem;
    border-radius: 15px;
    cursor: text;
    color: white;
}