<div class="grid">
  <div class="col-12">
    <div class="grid">
      <div class="col-2">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-bars"
          class="p-button-rounded"
          (click)="displaySideBar = true"
        ></button>
      </div>
      <div class="col">
        <div class="p-inputgroup">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-button-rounded p-button-text p-button-plain"
            (click)="search()"
          ></button>
          <input
            type="text"
            class="p-inputtext-sm"
            placeholder="Buscar..."
            pInputText
            [(ngModel)]="query"
            (change)="initSongs()"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 margin-top-md">
    <app-list-music
      [songs]="songs"
      (addFavourite)="addFavourite($event)"
    ></app-list-music>
  </div>
</div>

<p-sidebar [(visible)]="displaySideBar" position="right">
  <app-favourites [favourites]="favourites"></app-favourites>
</p-sidebar>
