<div class="grid">
  <div class="col-12 md:col-4 lg:col-3" *ngFor="let song of songs">
    <p-card
      header="{{ song.title }}"
      subheader="{{ song.album.title }}"
      [style]="{ width: '100%' }"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          [src]="song.album.cover_medium"
          (click)="getDetails(song); op.toggle($event)"
        />
      </ng-template>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-star"
          class="p-button-rounded p-button-warning"
          (click)="addToFavourites(song)"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-play"
          class="p-button-rounded p-button-secondary"
        ></button>
      </ng-template>
    </p-card>
  </div>
</div>

<p-overlayPanel #op>
  <ng-template pTemplate>
    <app-song-details [song]="songDetail"></app-song-details>
  </ng-template>
</p-overlayPanel>
